{% extends "layout.html" %}

{% block title %}
    MAIN
{% endblock %}

{% block main %}
   <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            <div class="row">
                <div id="welcome" class="col-md-12 text-center">
                    <h3 class="my-heading">WELCOME TO <br><span class="bg-main"><b>CopyCat</b></span></h3>
                    <p class="myp-slider text-center">Where you can play with emotions</p>
                    <p class="myp text-center">COPY EMOTIONS   |   CONNECT WITH OTHERS   |   MAKE NEW FRIENDS</p>
                    <h4 class="text-center">It's time TO CHOOSE YOUR GAME</h4>
                    <a class="btn btn-primary btn-join" href="/copycat">Copy Me</a>
                    <a class="btn btn-primary btn-join" href="/quiz">QuizzzZ</a>
                </div>
                <!--<div class="col-md-12 text-center mt-5">-->
                <!--    <div class="scroll-down">-->
                <!--        <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
        </div>
    </header>
{% endblock %}
