<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">


        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="/static/myfunctions.js" rel="text/javascript"></script>

        <title>CopyCat: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <!-- http://getbootstrap.com/docs/4.1/components/navbar/ -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand mb-1 h1" href="/">CopyCAT</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" type="button" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/copycat">CopyMe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quiz">QUIZ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form">FORM</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- http://getbootstrap.com/docs/4.1/layout/overview/#containers -->
            {% block main %}{% endblock %}

        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_tutorials.html">OpenCV</a>. View
            <a href="https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_tutorials.html">OpenCV Terms of Use</a>.
        </footer>
    </body>

</html>
