
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
opencv-contrib-python = "*"
gunicorn = "*"
Jinja2 = ">=2.10.1"
werkzeug = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7.4"